fieldset{
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
}
fieldset:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.right{
    float: right;
}
.left{
    float: left;
    padding-right: 10px;
        
}
.create{
    Display: flex;
    flex-direction: row;
    float: right;
    background: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    align-items: center;
        
}