h4{
    color: cyan;
     margin-left: 5%;
}
label{
    color: white;
}
#submit_created_party{
    background:#FFA500;
    width: 90px;
    height: 30px;
    padding: 1.5px 1.5px 1.5px;
}
fieldset{
   padding: 2%, 2%,2%;
    width: 50%;
}
#submit_gov_office
{
   background:#FFA500;
    width: 90px;
    height: 30px;
    padding: 1.5px 1.5px 1.5px; 
}
