table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: white;
}

h4{
    color: cyan;
     margin-left: 5%;
}
#submit_candidates{
    display: block;
    width: 160px;
    height: 30px;
    background:#FFA500;
    padding: 1.5px 1.5px 1.5px;
    margin: auto;
    
}