#btns{
    display: flex;
    width: 150px;
    margin: 0 -5px;
    justify-content: center;
    float: right;       
}
.btn{
  background:#FFA500;
  width: 60px;
  height: 30px;
  margin: 0 5px;
}
#loginbtn{
    padding-left: 10px;
    
}
#adminbtn{
    padding-right: 15px;
    
}
#ind_submit_btn{
    background:#FFA500;
    width: 90px;
    height: 30px;
    padding: 1.5px 1.5px 1.5px;
}